@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
.sidebar {
  /* background-color: rgb(0, 149, 255); */
  background-image: linear-gradient(to bottom right,rgb(0, 149, 255),aqua);
  width: 14%;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}
.sidebar nav {
  padding: 30px;
}
.sidebar nav li {
  font-weight: bold;
  font-size: 20px;
  list-style: none;
  padding: 30px 5px;
  transition: transform 0.4s;
}
.sidebar nav li:hover{
  cursor: pointer;
  transform:scale(1.1);
} 

.sidebar nav li a {
  /* background-color: blue; */
  text-decoration: none;
  color: white;
}
.main {
  background-color:#edf2f8;
  width: 86%;
  height: 100vh;
}
.container {
  display: flex;
}

.info {
  /* background-color:darkblue; */
  height: 70vh;
  width: 75vw;
  margin: 8% auto;
  display: flex;
  justify-content: space-around;
}
.icons{
  top: 280px;
  left:160px;
  position: absolute;
  display: flex;
  display:none;
  z-index: 10;
  /* background-color:aqua; */
  width:60px;
  justify-content: center;  
}
.myPic{
  /* background-color: aqua; */
  position: relative;
}


.myPic .git{
  width:40px;
  height:40px;
border-radius:30px;
padding:10px;
}
.myPic img {
  height: 50vh;
  width: 24vw;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
}

.myPic img:hover {
  opacity: 0.7;
  cursor: pointer;
  transform : scale(1.1);
}
.icons:hover{
  display: flex;
}
.myPic img:hover +.icons{
  display: flex;
  cursor: pointer;
}

.myInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Hello {
  font-size: 60px;
}
.name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 10px;
}
.name h4{
  background : -webkit-linear-gradient(aqua,blue);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.about {
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
.button button {
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: rgb(0, 149, 255);
  /* background-image:linear-gradient(to bottom right,rgba(0,149,255),aqua); */
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.myInfo {
  font-family: "Source Code Pro", monospace;
}

.more {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  padding: 10px;
}
.button button:hover {
  
  background-color: white;
  color: rgb(0, 149, 255) !important;
}
.button a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  padding-bottom: 11px;
}
.button a:hover {
  color: rgb(0, 149, 255);
}
.contactForm {
  font-family: "Fira Sans", sans-serif;
  /* background-color:rgb(255, 255, 255); */
  background:linear-gradient(to bottom right,aqua,rgb(0, 149, 255));
}
.contactForm h1,h3 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}
.contactForm{
  /* background-color:lightblue; */
  border: 2px solid black;
  border-radius: 15px;
  margin : 100px 30px;
  padding : 10px;
  
  /* background-color:rgb(104, 190, 233); */
}
form div{
  padding : 10px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
 }
.mb-3 input{
  margin-top:10px;
}
.mb-3,.mb-4{
  margin-left:430px;
  margin-bottom:10px;
  margin-top:20px;
  background-color:white;
  border: 2px solid white;
  border-radius: 15px;
}
form .mb-4{
padding : 10px;
}
form button{
  margin: 10px 550px;
  text-decoration: none;
  color: white;
  background-color:rgb(0, 149, 255);
  padding: 7px;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}
form button:hover{
  background-color: white;
  color:rgb(0, 149, 255);
  font-weight: bold;
  }
  .form-check{
    display: flex;
    flex-direction: row;
  }
  .form-check input{
    margin-left: 10px;
    cursor: pointer;
    width:20px;
  }
  input{
    border: 1px solid black;
  }
  
  .webDev{
    /* background-color:yellow; */
    margin:20px;
    padding:10px;
    display: flex;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
  }
  .webDev h3{
    font-weight: bold;
    padding-right: 90px;
    padding-bottom: 10px;
  }
  .webppe{
    margin-top: 10px;
    font-size:30px; 
  }
  .blogTitle{
    margin-top: 10px;
    font-size:30px; 
  }
  .web{
    margin: 15px 15px;
    max-width:50%;
    /* background-color:cyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    background-color:rgb(0, 149, 255);
  }
  .projects h1{
    /* background-color:blue; */
    margin:10px 260px;
  }
  .projects{
    font-family: "Fira Sans", sans-serif;
  }
  .projectContainer{
    display:flex;
    margin: 70px;
}
.blogTitle{
  font-size:30px; 
}
.blog{
  margin: 15px 15px;
  /* background-color:yellow; */
  display:flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  max-width: 50%;
  border: 1px solid black;
  background-color:rgb(0, 149, 255);
}


.blog h3{
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  /* background-color:red; */
}

.blogging{
    margin: 15px 15px;
    padding:40px; 
    font-family: "Source Code Pro", monospace;
    /* background-color:cyan; */
}

.skill{
  width: 100px;
  height:10px;
  background-color:rgb(0, 149, 255);
  margin:10px;
  border: 1px solid black;
}
.aboutMe{
  margin-left:20px;
}
.skillName{
  padding: 5px;
display: flex;
align-items: center;
}
.skills{
  margin:50px 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width:500px;
  /* align-items: center; */
}
.ninety{
width:190px;
}
.ninef{
width:195px;
}
.eighty{
width:180px;
}
.seventy{
width:170px;
}

.html{
  margin-left: 30px;
}
.css{
  margin-left: 48px;
}
.java{
  margin-left: 48.6px;
}
.cpp{
  margin-left: 34px;
}
.python{
  margin-left: 33px;
}
.me h1{
  font-family: "Fira Sans", sans-serif;  
}
.me p{
  margin-top: 10px;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  font-size: 20px;
}
.projects2 h1{
  font-family: "Fira Sans", sans-serif;
  margin-left:350px;
  /* background-color: aqua; */
}
.me{
  /* background-color:red; */
  width:1280px;
}
.projects2 p{
  font-family: "Source Code Pro", monospace;
  margin-top:30px;
  margin-left:170px;
  font-weight: bold;
  /* background-color:aqua; */
  font-size:30px;
}
.projects2{
  
  margin-top:100px;
}
.proj{
  margin:60px 60px;
  display:flex;
  /* background-color: aqua; */
}
.projImg img{
  margin:30px 13px;
  width:100px;
  height:100px;
  /* background-color: aqua; */
}
.projImg img:hover{
  cursor: pointer;
}
.proj1{
  margin:10px;
  padding:10px 50px;
  font-family: "Source Code Pro", monospace;
  font-size: 23px;
  font-weight: bold;
  border: 1px solid white;
  border-radius:10px;
  transition: transform 0.6s;
  background-color:white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  /* transition: box-shadow 0.3s ease-in-out; */
}
.proj1:hover{
  cursor:pointer;
  transform:scale(1.1);
  box-shadow: 0 5px 5px rgba(65, 64, 64, 0.8);
}
html{
  scroll-behavior: smooth;
}
.container{
  background-color:#edf2f8;
  width: 100%;
}
@media (max-width:1535px){
  .sidebar{
    transform:translate(-443px,0px);
    position:absolute;
  }
  .info{
    margin-left:180px;
    margin-top:20px;
    /* background-color:aqua; */
    display:flex;
    flex-wrap: wrap;
    position: absolute;
  }
  .info img{
    /* position: absolute; */
    width: 450px;
    height:400px;
  }
}
.skills2{
 display:flex;
 flex-direction:row;
 /* background-color:aqua;   */
}
.skill2{
  font-family: "Source Code Pro", monospace;
  font-size: 23px;
  font-weight: bold;
  border: 1px solid white;
  border-radius:10px;
  padding:30px;
  margin:30px;
  transition: transform 0.6s;
  background-color:white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill2:hover{
  transform:scale(1.1);
  box-shadow: 0 5px 5px rgba(65, 64, 64, 0.8);
}
.skilltitle{
  font-family: "Fira Sans", sans-serif;
  margin-top: 90px;
  text-align:center;
}
.skills2 img{
  margin-top:5px;
  width:100px;
  height:100px;
}
.skills2 .a{
  width:270px;
}
h6{
  margin-top:9px;
}
.cv img{
  border-radius:60px;
  width:1200px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  padding:30px 10px 30px 60px;
  
}
.cv{ 
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  height:100vh;
}
.downloadicon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 1200px;
  border: 1px solid black;
  width:90px;
  height:25px;
  font-family: "Fira Sans", sans-serif;
  background-color:white;
  border-radius:10px; 
  transition: transform 0.5s;
}
.downloadicon:hover{
  transform: scale(1.2);
  cursor: pointer;
  background-color:black;
  color:white;
}

.downloadicon a{
  text-decoration: none;
  color:black;
}

.downloadicon a:hover{
  color:white;
}


.proj2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin:10px;
  padding:10px 40px;
  font-family: "Source Code Pro", monospace;
  font-size: 23px;
  font-weight: bold;
  border: 1px solid white;
  border-radius:10px;
  transition: transform 0.6s;
  background-color:white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  /* transition: box-shadow 0.3s ease-in-out; */
}
.proj2:hover{
  cursor:pointer;
  transform:scale(1.1);
  box-shadow: 0 5px 5px rgba(65, 64, 64, 0.8);
}
.projects2 h1{
  font-family: "Fira Sans", sans-serif;
  margin-left:350px;
  /* background-color: aqua; */
}
.titles2{
  /* background-color:red; */
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.titles2 .t2{
  margin-left:0px;
  width:410px;
}







